# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
/.idea
/WEB-INF
/node_modules
*.iml
*.war

*.xml

.idea/libraries/Generated_files.xml
